{% extends 'mailing/base.html' %}
{% load tags %}
{% block head %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">MailingService Blog</h1>
    <a href="{% url 'blog:create' %}" type="button"
                           class="btn btn-outline-success">Создать</a>
</div>
{% endblock %}

{% block content %}
      {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.title }}</h4>
                </div>
                <img src="{{ object.preview|filter_media }}" />
                <div class="card-body">
                    <h8 class="card-title pricing-card-title">Количество просмотров: {{ object.number_views }}</h8>
                    <a href="{% url 'blog:view' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-secondary">Посмотреть</a>
                    <a href="{% url 'blog:update' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-secondary">Изменить</a>
                    <a href="{% url 'blog:delete' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-secondary">Удалить</a>
                </div>
            </div>
        </div>
      {% endfor %}
{% endblock %}